<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Add Service</title>
</head>

<body>
	<div>
		<div>
			<form action="#" th:object="${service}" th:action=@{/service/add-service} method="post">

				<label for="id">Id</label>
				<input type="hidden" id="id">
				<label for="busId">Bus ID</label>
				<select id="busId" th:field="*{idBus}">
					<option th:each="bus:${buses}" th:selected="${service.idBus = bus.id}" th:value="${bus.id}"
						th:text=${bus.id}></option>
				</select>
				<span th:if="${#fields.hasErrors('idBus')}" th:errors="*{idBus}" class="text-danger"></span>
<label for = "rutaId">Ruta ID</label>
<select id  = "rutaId" th:field = "*{idRuta}">
<option th:each = "route:${routes}" th:selected = "${service.idRuta = route.id}" th:value = "${route.id}"
		th:text = ${route.id}></option>
</select>
<span th:if="${#fields.hasErrors('idRuta')}" th:errors="*{idRuta}" class="text-danger"></span>

<label for = "driverId"> Conductor</label>
<select id  = "driverId" th:field = "*{cedulaConductor}">
<option th:each = "driver:${drivers}" th:selected = "${service.cedulaConductor = driver.cedula}" 
				th:value = "${driver.cedula}" th:text = ${driver.nombre}></option>
</select>
<span th:if="${#fields.hasErrors('cedulaConductor')}" th:errors="*{cedulaConductor}" class="text-danger"></span>

<label for = "fechaInicio">Fecha Inicio (AAAA/MM/DD)</label>
<input type = "date" id = "fechaInicio" th:field="*{fechaInicio}">
<span th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="text-danger"></span>

<label for = "fechaFin">Fecha Fin (AAAA/MM/DD)</label>
<input type = "date" id = "fechaFin" th:field="*{fechaFin}">
<span th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="text-danger"></span>

<input type="submit" name="action" class="btn btn-primary"
	value="Add Service">
</form>
</div>
</div>
</body>
</html>